.mat-form-field input {
  height: 20px;
  transition: height ease-in-out 400ms;
}

.mat-form-field input:focus {
  background-color: red !important;
  height: 50px;
  transition: height ease-in-out 400ms;
}

.form-container {
  height: 360px;
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
}

form {
  margin-top: 12%;
    margin-left: 12%;
    height: 100%;
    width: 100%;
}

.mat-mdc-text-field-wrapper {
  height: 36px;
  width: 100%;
}

.mat-mdc-form-field {
  width: 252px;
  --mat-mdc-form-field-floating-label-scale: 0.75;
  display: inline-flex;
  flex-direction: column;
  min-width: 0;
  text-align: left;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--mat-form-field-container-text-font);
  line-height: var(--mat-form-field-container-text-line-height);
  font-size: var(--mat-form-field-container-text-size);
  letter-spacing: var(--mat-form-field-container-text-tracking);
  font-weight: var(--mat-form-field-container-text-weight);
}

.mat-mdc-raised-button:not(:disabled) {
  color: var(--mdc-protected-button-label-text-color, inherit);
  margin-left: 30%;
}

option {
  color: var(--mdc-filled-text-field-input-text-color);
}