.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the anchors that are used to open the tab content */
  .tab a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of anchors on hover */
  .tab a:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab a.active {
    background-color: #ccc;
  }

  .mat-mdc-raised-button:not(:disabled) {
    color: var(--mdc-protected-button-label-text-color, inherit);
    margin-left: 4%;
    vertical-align: flex-end;
    margin-bottom: 2%;
  }